# Telegram bot token
bot_token: "BOT_TOKEN_HERE"

# supported db types: json, sqlite
# both take a single argument which is the database path
database: [sqlite, "path/to/secretlounge.db"]

# relay contacts
allow_contacts: false
# relay arbitrary documents (gifs always work)
allow_documents: true
# allow users to set a flag and display them above messages
show_flags: false
# enable signing messages using /sign or /tsign as well as setting a tripcode
enable_signing: false
# point of contact shown to blacklisted users
#blacklist_contact: http://t.me/invite/something
