# Telegram bot token
bot_token: "BOT_TOKEN_HERE"

# supported db types: json, sqlite
# both take a single argument which is the database path
database: [sqlite, "path/to/secretlounge.db"]

# relay contacts
allow_contacts: false
# relay arbitrary documents (gifs always work)
allow_documents: true

# enable signing messages using /sign or /tsign as well as setting a tripcode
enable_signing: false
# point of contact shown to blacklisted users
#blacklist_contact: http://t.me/invite/something

# Make `>>>/N/` be converted to links to another bot specified
allow_lounge_linking: false
# Names used for lounge links
lounge_links:
    a: t.me/animeloungebot
    b: t.me/secretloungebot
    bier: t.me/bierloungebot
    f: t.me/furryloungebot
    g: t.me/techloungebot
    lgbt: t.me/lgbtloungbot
    pol: t.me/politicsloungebot