# Telegram bot token
bot_token: "BOT_TOKEN_HERE"

# supported db types: json, sqlite
# both take a single argument which is the database path
database: [sqlite, "path/to/secretlounge.db"]

# relay contacts
allow_contacts: false
# relay arbitrary documents (gifs always work)
allow_documents: true

# relay edited messages (edits mesage relayed to others, doesn't resend)
allow_edit: true

# enable signing messages using /sign
enable_signing: false
# point of contact shown to blacklisted users
#blacklist_contact: http://t.me/invite/something
