[Unit]
Description=Systemd service for secretlounge-ng
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=~/secretlounge-ng
Environment="PATH=~/secretlounge-ng:$PATH"
ExecStart=python3 ~/secretlounge-ng >> ~/secretlounge-ng/Logfile.log
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5

[Install]
WantedBy=multi-user.target
