[Unit]
Description=Systemd service for secretlounge-ng
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/$USER/secretlounge-ng
Environment="PATH=/home/$USER/secretlounge-ng:$PATH"
ExecStart=python3 /home/$USER/secretlounge-ng >> /home/$USER/secretlounge-ng/Logfile.log
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5

[Install]
WantedBy=multi-user.target
